html { font-size: 16px; }
body {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  background: url(../images/bg.jpg) no-repeat fixed white;
  text-align: center;
}
#wrapper {
  margin: 0 auto;
  width: 900px;
  text-align: left;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
}
h1 {
  padding: 20px 0;
  font-size: 2.8em;
}
h2 {
  padding: 20px 0 10px;
  font-size: 2.2em;
  text-shadow: 0 0 5px white;
}
h3 {
  padding: 10px 0;
  font-size: 1.6em;
}
pre {
  background: #333333;
  background: rgba(51, 51, 51, 0.95);
  text-shadow: 1px 1px 0 #111111;
  color: white;
  font-size: 1.3em;
  padding: 15px;
  line-height: 1.3em;
  overflow: auto;
  margin-bottom: 18px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
pre code { width: auto; }
p {
  font-size: 1.4em;
  padding-bottom: 18px;
  line-height: 1.4em;
}
ul {
  font-size: 1.4em;
  padding: 0 0 18px 30px;
  line-height: 1.6em;
  list-style: disc;
}
.demo {
  border: 1px dotted #333333;
  margin: 20px 0;
  padding: 10px;
  position: relative;
}
.demo ul {
  list-style: none;
  padding: 0;
}
.demo ul li {
  border-top: 1px solid #eeeeee;
  padding: 8px 0;
}
.demo ul li label {
  display: block;
  padding-bottom: 4px;
}
.demo ul li input[type="submit"] { cursor: pointer; }
.demo ul li:first-child { border-top: none; }
.demo #fo-errors {
  position: absolute;
  width: 250px;
  top: 50px;
  left: 200px;
  box-shadow: 0 0 3px #333333;
  -moz-box-shadow: 0 0 3px #333333;
  -webkit-box-shadow: 0 0 3px #333333;
}
.demo #fo-errors li {
  border: 0;
  padding: 2px 6px;
  color: white;
}
.demo #fo-errors li.valid {
  background: #8ab600;
  text-shadow: 1px 1px 0 #485f00;
}
.demo #fo-errors li.invalid {
  background: #f46644;
  text-shadow: 1px 1px 0 #9f4631;
}
.demo .ketchup-custom { line-height: 1em; }
.demo .ketchup-custom li {
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #9f4631;
  border: 0;
  color: white;
  background: #f46644;
  padding: 1px 10px;
  margin-top: 1px;
}
.fork {
  position: absolute;
  top: 0;
  right: 0;
}
.fork img { border: 0; }
