html { font-size: 16px; }
body { font-size: 62.5%; font-family: Helvetica, Arial, sans-serif; color: #333; background: url(../images/bg.jpg) no-repeat fixed white; text-align: center; }

#wrapper { margin: 0 auto; width: 900px; text-align: left; background: white; background: rgba(255, 255, 255, 0.5); padding: 30px; }

h1 { padding: 20px 0; font-size: 2.8em; }
h2 { padding: 20px 0 10px; font-size: 2.2em; text-shadow: 0 0 5px white; }
h3 { padding: 10px 0; font-size: 1.6em; }
pre { background: #333; background: rgba(51, 51, 51, 0.95); text-shadow: 1px 1px 0 #111; color: white; font-size: 1.3em; padding: 15px; line-height: 1.3em; overflow: auto; margin-bottom: 18px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  code { width: auto; }
}
p { font-size: 1.4em; padding-bottom: 18px; line-height: 1.4em; }
ul { font-size: 1.4em; padding: 0 0 18px 30px; line-height: 1.6em; list-style: disc; }

.demo { border: 1px dotted #333; margin: 20px 0; padding: 10px; position: relative;
  ul { list-style: none; padding: 0;
    li { border-top: 1px solid #eee; padding: 8px 0;
      label { display: block; padding-bottom: 4px; }
      input[type="submit"] { cursor: pointer; }
    }
    li:first-child { border-top: none; }
  }
  
  #fo-errors { position: absolute; width: 250px; top: 50px; left: 200px; box-shadow: 0 0 3px #333; -moz-box-shadow: 0 0 3px #333; -webkit-box-shadow: 0 0 3px #333;
    li { border: 0; padding: 2px 6px; color: white; }
    li.valid { background: #8AB600; text-shadow: 1px 1px 0 #485F00; }
    li.invalid { background: #F46644; text-shadow: 1px 1px 0 #9F4631; }
  }
  
  .ketchup-custom {
    line-height: 1em;
  }
  
  .ketchup-custom li {
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #9F4631;
    border: 0;
    color: white;
    background: #F46644;
    padding: 1px 10px;
    margin-top: 1px;
  }
}

.fork { position: absolute; top: 0; right: 0;
  img { border: 0; }
}